.forgot-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.forgot-password-form-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 585px;
  text-align: center;
}

.forgot-password-title {
  font-family: Newsreader, serif;
  font-size: 32px;
  font-weight: bold;
  color: #4B244A;
  margin-bottom: 10px;
}

.forgot-password-text {
  font-size: 16px;
  text-align: left;
  margin: 12px 29px 20px;
  font-weight: lighter;
  width: 470px;
  line-height: 140%;
  color: #426B1F;
  font-family: Alegreya Sans, serif;
}

.forgot-password-form {
  width: 100%;
}

.forgot-password-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #426B1F;
  border-radius: 5px;
}

.forgot-password-button {
  background-color: #426B1F;
  color: white;
  margin-top: 20px;
  width: 174px;
  font-family: Almendra, serif;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

.forgot-password-button:hover {
  background-color: #629432 !important;
}
