.logo {
  font-size: 24px;
  font-weight: bold;
  color: #5c3d2e;
  text-align: center;
  padding: 20px 0;
}

.profile {
  margin-right: 24px;
  font-size: 16px;
  color: #5c3d2e;
}

.title {
  font-family: 'Jacques Francois', serif;
  font-weight: lighter;
  font-size: 36px;
  color: #591C00;
  margin-bottom: 20px;
  margin-top: -20px;
}

.add-button {
  background-color: #426B1F;
  color: white;
  width: 110px;
  font-family: 'Acme', sans-serif;
  font-size: 14px;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.add-button:hover {
  background-color: #6B8E23 !important;
}

.symptom-card {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #d3c4a6;
  margin-bottom: 10px;
}

.symptom-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.symptom-card h4 {
  color: #5c3d2e;
}

.symptom-card p {
  color: #6b5b4e;
}