.profile-layout {
  display: flex;
  flex: 1;
  background-color: #f9f9f9;
}

.profile-page {
  padding: 40px;
  background-color: #fefefe;
  min-height: 100vh;
}

.profile-title {
  font-family: 'Jacques Francois', serif;
  font-size: 34px;
  color: #591C00;
  margin-bottom: 30px;
}

.profile-container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}

.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.profile-info-basic {
  margin-top: 20px;
  text-align: center;
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.profile-right {
  width: 60%;
}

.profile-form {
  background: #fff;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 10px;
}

.profile-picture-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.profile-options {
  a {
    color: #315016;
    font-weight: 500;
  }

  a:hover {
    color: #6B8E23;
  }
}

.profile-details {
  flex: 1;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #4B163B;
  }

  button {
    margin-left: 8px;
  }
}

.profile-form {
  .ant-form-item-label {
    font-weight: 500;
    color: #333;
  }
}

.children-section {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.children-section h3 {
  font-size: 22px;
  font-weight: 600;
  color: #4B163B;
  margin-bottom: 20px;
}

.child-card {
  border: 1px solid #9BB77D;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fafafa;
  position: relative;

  h3 {
    margin-bottom: 12px;
    color: #2F2F2F;
  }

  p {
    margin: 6px 0;
    font-size: 14px;
    color: #444;
  }

  .ant-btn-link {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #4B163B;
    font-weight: 500;
    border: 1px solid #4B163B;
    border-radius: 5px;
    padding: 2px 10px;

    &:hover {
      color: #365517;
      border-color: #365517;
    }
  }
}
