.menu-container {
  position: fixed;
  width: 250px;
  transition: width 0.3s;
  background-color: #E2E3E0;
  padding: 10px;
  height: 750px;
  border: none;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 20px;
}

.img {
  height: 50px;
  margin-right: 10px;
  margin-left: 15px;
}

.toggle-button {
  background-color: #426B1F;
  color: #FFFFFF;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  transition: margin-left 0.3s;
}

.menu-container.collapsed {
  width: 100px;
}

.toggle-button:hover {
  background-color: #6B8E23 !important;
}

.custom-menu {
  display: grid;
  background-color: #E2E3E0;
  border: none;
  font-family: Jacques Francois, serif;
  font-weight: lighter;
  font-size: 18px;
  margin-top: 20px;
  gap: 8px;
}

.custom-menu .ant-menu-item {
  margin-bottom: 10px;
  transition: all 0.3s;
  background-color: #FFFFFF;
  color: #4B163B;
}

.custom-menu .ant-menu-item-selected {
  background-color: #F0F8E8 !important;
  border: 2px solid #426B1F;
  border-radius: 10px;
}

.custom-menu .ant-menu-item:hover {
  background-color: #F6F6F6 !important;
}

.custom-menu .ant-menu-item .anticon {
  font-size: 20px;
  color: #4B163B;
}

.custom-menu .ant-menu-item-selected .anticon {
  color: #426B1F;
}