.main-header {
  background-color: #E2E3E0;
  max-height: 45px;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px dotted #426B1F;
}

.profile-dropdown {
  display: flex;
  align-items: center;
  color: #4B163B;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
}

.profile-dropdown:hover {
  color: #365517;
}

.header-right {
  display: flex;
  align-items: center;
}