.register-container {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600pxpx;
  padding: 50px 0;
}

.register-form-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 40%;
  height: 660px;
  border: 1px solid #426B1F;
  text-align: center;
}

.register-title {
  font-family: 'Newsreader', serif;
  font-size: 32px;
  font-weight: bold;
  color: #4B244A;
  margin-bottom: 20px;
}

.register-form {
  width: 100%;
}

.input-name {
  font-family: "Alegreya Sans", sans-serif!important;
  line-height: 1.4;
  font-size: 16px;
}

.register-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #426B1F;
  border-radius: 5px;
}

.password-mismatch .ant-form-item-explain-error {
  color: red !important;
  font-size: 14px;
  margin-top: 5px;
}

.register-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.register-button {
  background-color: #426B1F !important;
  color: white !important;
  width: auto;
  padding: 6px 20px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: lighter;
  font-family: "Almendra", serif;
  text-align: center;
  margin-left: 60px;
}

.register-button:hover {
  background-color: #629432 !important;
}

.login-link {
  font-size: 17px;
  font-family: "Alegreya Sans", serif;
  color: #426B1F;
  margin-top: 13px;
  white-space: nowrap;
  margin-right: 70px;
}

.login-link-inline .login-link:hover {
  color: #7ec040
}
