.verify-otp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #F8F8F8;
}

.verify-otp-box {
  background-color: #FFFFFF;
  padding: 30px;
  border: 2px solid #426B1F;
  border-radius: 10px;
  text-align: center;
}

.verify-otp-title {
  font-family: 'Inknut Antiqua', serif;
  color: #4B163B;
  margin-bottom: 10px;
}

.verify-otp-text {
  color: #6B8E23;
  margin-bottom: 20px;
  font-size: 16px;
}

.verify-otp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otp-input-item {
  margin-bottom: 20px;
}

.otp-input {
  width: 300px;
  border: 1px solid #426B1F;
  border-radius: 5px;
  padding: 5px;
}

.verify-otp-button {
  background-color: #426B1F;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
}

.verify-otp-button:hover {
  background-color: #365517;
}
