.forum-layout {
  min-height: 100vh;
  background: #f5f5f5;
}

.forum-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #E2E3E0;
}

.forum-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  width: 200px !important;
  margin-left: 210px;
  border-radius: 8px;
  border: 1px solid #6d3c2c;
}

.filter-dropdown {
  width: 300px;
  border-radius: 8px;
  border: 1px solid #6d3c2c;
}

.new-thread {
  background-color: #6d3c2c;
  color: white;
  border: none;
}

.new-thread:hover {
  background-color: #8a5133 !important;
  color: white !important;
  border: none;
}

.forum-content {
  padding: 24px;
  background: #fff;
  border-radius: 8px;
}

.section-title {
  font-family: 'Jacques Francois', serif;
  font-weight: lighter;
  font-size: 36px;
  color: #591C00;
  margin-bottom: 20px;
}

.thread-card {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  position: relative;
}

.thread-topic {
  background: #556b2f;
  color: white;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 10px;
}

.thread-meta {
  font-size: 12px;
  color: #666;
}

.thread-content {
  font-size: 14px;
  color: #333;
}
